[2019-04-18 01:52] TylerLeonhardt opened #4 "Consider renaming to vim-powershell?"
Just because there's https://github.com/PowerShell/vscode-powershell and vim-powershell is actually the repo name we used for the original one that shipped in CloudShell.

Just a thought.

I'd also want to talk to https://github.com/ant-druha/powershell about calling it `intellij-powershell` 😃

We'd wanna get sign off from @corbob before the name change though - don't want to step on any toes but

[2019-04-18 01:54] TylerLeonhardt opened #5 "Add recommended keybindings to README?"
To help bootstrap those who want to use this 😃

[2019-04-18 03:03] corbob commented on #5
I wonder if we could just map the keys without overwriting keys that are already mapped?

[2019-04-18 03:08] corbob commented on #4
I had a big long reply, but it was mostly rambling. So here it is: I don't own the name vim-powershell, and would be more than happy to move anything I've done there over to here assuming it moves (I'm concerned it doesn't because they're different Language Client implementations).

[2019-04-18 05:31] corbob opened #7 "No handler registered for Request type 'powershell/getCommand'"
I'm trying to mimic some of the things we do in vscode-powershell, to get my feet wet with how the Language Client works. I think I need to call CocRequestAsync (or not Async, but really, should be Async...). When I try the only thing I'm getting in the log is:

[code]

The steps to reproduce are:

[code]
Call the Requestion function:
`:call CocRequestAsync('pses', 'powershell/getCommand', 'get-he

[2019-04-18 06:38] TylerLeonhardt commented on #4
I just realized that all the plugins that use coc are, called `coc-*`...

In that case, we meet in the middle with `coc-powershell` 😊

[2019-04-18 06:49] yatli commented on #5
@corbob `nmap` does this. If someone writes `nnoremap`, then `nmap` to the same keys will be ignored.

[2019-04-18 06:51] yatli commented on #5
@TylerLeonhardt it's hard to find VS binding fans (like me :D ) in the wild these days, do you have ideas about the VSCode keys? I can implement them.

[2019-04-18 06:52] yatli commented on #4
after we settle down with this, we can talk to coc.nvim maintainer to get our plugin advertised. :D

[2019-04-18 06:55] yatli commented on #7
the log appears to be complaining about the PSES side not having a handler for 'getCommand', not the coc side.

Note 'powershell/..' prefix is sent to PSES. I guess this is the issue?

[2019-04-18 13:58] corbob commented on #7
🤔 that's certainly a possibility. In vscode-powershell, it's definitely the request we report we're setting, and I could have sworn I matched it up on the PSES side. I'll have a look at that. I did realize that evaluate is an option, so I tried it with that, and it's definitely sending and executing as expected. It just seems that it's not triggering the callback function.

I guess I need to figur

[2019-04-18 14:15] yatli commented on #7
how about:

`:call CocRequestAsync('pses', 'getCommand', 'get-help', function('CallBack'))`

(layman's idea!)

[2019-04-18 15:20] yatli commented on #4
done, and we are now `coc-powershell`

[2019-04-18 15:27] yatli commented on #4
PR sent to `coc.nvim`. We can close this now;

[2019-04-18 15:27] #4 closed

[2019-04-18 15:28] yatli commented on #7
an alternative:

@corbob if you're comfortable with Typescript, take a look here:

https://github.com/neoclide/coc-rls/tree/master/src

It's a coc wrapper for the rust lsp server binary.
You can basically wrap up a console version of VSCode in the ts world.

[2019-04-18 15:30] yatli opened #8 "Project license"
My default opt-in is MIT license but I'd like to know what you guys think. :)

[2019-04-18 15:53] TylerLeonhardt commented on #8
MIT all the way

[2019-04-18 15:55] TylerLeonhardt commented on #8
#9 adds this

[2019-04-18 16:00] TylerLeonhardt commented on #5
I think what might be very interesting is a set of plugins for different keymaps:

* VSCode
* VS
etc

that would generically work with coc-based plugins.

I think I might open an issue on coc to see if they know of anyone doing this already.

[2019-04-18 17:01] #8 closed

[2019-04-18 21:52] TylerLeonhardt opened #10 ".pses folders get created in my cwd and don't get cleaned up"
We should probably move that somewhere else...

[2019-04-18 22:36] corbob commented on #10
This should be resolved in the latest version... You may need to `:PlugUpdate` (and update your init.vim to call `coc#powershell#init`...)

The .pses should now be in the `coc-powershell` plugin folder... The logs should also be more separated if you're running multiple instances of vim.

[2019-04-18 22:40] corbob opened #11 "Would be good to be able to specify PSES version for install.ps1"
With PSES currently split between "legacy" and "2.0.0" it would be good to be able to specify which one you want to install.

I have some ideas in my head where we use a variable to specify so the user can add it to their vimrc and get the prerelease version. I'll play around with it this weekend and open a PR if I can get it working the way I think it should.

[2019-04-22 02:25] TylerLeonhardt commented on #10
Yes it's fixed!

[2019-04-22 02:25] #10 closed

[2019-04-22 03:13] TylerLeonhardt opened #13 "Expose a function to set the powershellExecutable used"
Right now we use a global variable - but it might be more intuitive if we expose a function to set it... this function could also set it to a json file so that the value can be persisted.

[2019-04-22 03:34] TylerLeonhardt commented on #13
![image](https://user-images.githubusercontent.com/2644648/56481606-8d908f00-6485-11e9-879b-97852d8b8233.png)

we could have it prompt too!

[2019-04-29 12:52] yatli commented on #13
see: #14

[2019-05-08 05:53] #11 closed

[2019-05-18 15:53] TylerLeonhardt opened #17 "Implement the client in typescript?"
We don't go as far as the vscode extension - but we copy more-or-less the same settings and snippets to leverage those.

Thoughts?

[2019-05-20 05:25] yatli commented on #17
The two-stage bootstrapping model should allow us to easily ramp-up.
If we set a global variable in the vim plugin, we can then read it from the ts client with `coc.workspace.nvim`;
The other option is to write everything in typescript, but I think it's better to not leave the vim script behind -- we may want some default binding and vim-specific settings that's cumbersome to deal with in a remote

[2019-05-20 16:22] TylerLeonhardt commented on #17
Sounds good to me!

Did you say that we should be able to basically do what your fsharp coc plugin can do

[2019-05-20 17:06] #13 closed

[2019-05-20 17:40] TylerLeonhardt opened #18 "How does one write tests in vimscript"

[2019-05-20 17:40] TylerLeonhardt opened #19 "How does one write tests in viml?"
naturally we should be testing our stuff somehow.

[2019-05-20 17:41] #18 closed

[2019-05-23 09:06] yatli commented on #17
Yeah, this way we can get a pay-as-you-go dev model. Features can be incrementally brought in by adding coc commands

[2019-05-23 09:42] yatli commented on #19
I have a dumb idea... Start vim, replay commands, then diff.

[2019-05-23 14:07] TylerLeonhardt commented on #17
Awesome - where does that exist?

[2019-05-23 14:29] yatli commented on #17
If you mean the fs plugin: https://github.com/yatli/coc-fsharp

[2019-05-23 16:33] TylerLeonhardt commented on #17
Ah. I was under the impression that that repo was implemented in TypeScript (aka the vscode-powershell of fsharp)

How does one leverage this in nvim?

[2019-05-23 16:34] TylerLeonhardt commented on #17
Ahhh it's under https://github.com/yatli/coc-fsharp/blob/master/client/extension.ts

Think we can drop that into coc-powershell things generally work?

[2019-05-23 16:58] yatli commented on #17
Here’s a way to plug it into coc.nvim without a npm package:

Make a sub folder in the vim plugin.
Put the typescript part in.
Upon initialization, call npm install and npm run compile to obtain the linked output and the dependencies.
Continue to bootstrap and download the PSES release as usual.
Then, in the plugin, set rtp+=path of index.js— coc.nvim will pick up all js files in the runtime path.

[2019-05-23 17:00] yatli commented on #17
Update: the steps may not be accurate, can’t remember if it’s the dir of index.js, or package.json

[2019-05-24 05:17] yatli commented on #7
linking #17

[2019-05-24 05:17] #7 closed

[2019-05-24 05:19] yatli commented on #17
@chemzqm please advise.

[2019-05-25 15:00] yatli commented on #19
actually this may be a popular approach.. see vimgolf.

[2019-05-27 07:58] TylerLeonhardt commented on #19
Now that we're moving to ts this should be an easier task

[2019-06-27 05:10] #17 closed

[2019-06-27 05:14] TylerLeonhardt opened #21 "Bring back features from vimL version"
@corbob added the preview feature which allowed you to get the preview version of PSES

I added the ability to switch between version of PS (PowerShell Core, Windows PowerShell).

We should bring these back now that we're in typescript

[2019-06-27 05:58] chemzqm commented on #17
@yatli I found a problem, you should list coc.nvim as devDependencies instead to avoid download unnecessary package.

[2019-06-27 09:39] yatli commented on #17
@chemzqm fixed, and thank you!
Also updated my coc-fsharp plugin :)

[2019-06-27 09:40] yatli opened #23 "switch between version of PS (PowerShell Core, Windows PowerShell)."
We can have a command like `powershell.setVersion`.

[2019-06-27 09:42] yatli opened #24 "add command: `powershell.executeFile`"
This command should kick start a terminal and run powershell to execute the current script.

[2019-06-27 09:43] yatli opened #25 "option: preview version of PSES"

[2019-06-27 09:44] yatli opened #26 "add command: `powershell.searchOnlineHelp`"
in a local scenario, this command should open a web url pointing to the online help.

[2019-06-27 09:44] yatli opened #27 "Pester test codelens"

[2019-06-27 09:45] yatli opened #28 "Add command: `powershell.testThis`, `powershell.testAll`"

[2019-06-27 09:46] yatli opened #29 "add command: `powershell.evaluateSelection`"

[2019-06-27 09:46] yatli opened #30 "figure out how to communicate with PSES"
Apart from stdio doing LSP, we should have a side channel for REPL functionalities.

[2019-06-27 09:47] yatli commented on #21
Tracking:

- #25
- #23

[2019-06-27 13:43] TylerLeonhardt commented on #21
Closing in favor of those

[2019-06-27 13:43] #21 closed

[2019-06-27 13:57] corbob commented on #23
I **think** we have this in the configuration (contributes configuration in package.json), just not sure if the extension is actually using the configuration just yet...

[2019-06-27 14:15] yatli commented on #23
currently in the ts client we don't yet have the code to handle that -- the configuration options are passthru to PSES directly (and then ignored, I guess)

[2019-06-27 14:34] yatli commented on #23
I think it's definitely supported to hook up `onConfigurationChange` in coc -- will figure this out

[2019-06-30 07:44] yatli commented on #23
done. the configuration section is fully compatible with the vscode extension, and @TylerLeonhardt has already ported the config loading code.
I've hooked up the configuration so that it is both read by our extension, and passed through to PSES.
Setting `powershell.powerShellExePath` is picked up by the extension correctly.

Tip: to edit configuration, run `:CocConfig` -- if you have `coc-json` ex

[2019-06-30 07:45] #23 closed

[2019-06-30 09:08] yatli commented on #24
done!

[2019-06-30 09:08] #24 closed

[2019-06-30 15:03] TylerLeonhardt commented on #23
It still would be nice to have some sort of command/dialog for switching.

[2019-06-30 19:47] yatli commented on #30
DONE!

[2019-06-30 19:47] #30 closed

[2019-07-01 03:34] DropBearHunta opened #32 "Add a prepackaged release for windows"
Hey there! Id love to use this extension, however I'm dealing with difficulties compiling the typescript in my companies environment due to lack of internet access, I was wondering if you could provide a release tag with a pre built package. Any help would be appreciated!

[2019-07-01 20:19] TylerLeonhardt commented on #29
@yatli done? :)

[2019-07-02 10:08] yatli commented on #29
done!

[2019-07-02 10:08] #29 closed

[2019-07-03 03:19] mikeTWC1984 opened #34 "Can't get it to work on Ubuntu"
I installed all prereqs and followed Install guide without any error. But still can't see Intellisense/Completion while editing ps1 file. Is there any additional parameters need to be added on vimrc?

[2019-07-03 17:15] corbob commented on #34
Since the move to TypeScript and utilizing what it gives us, I don't recall being able to get IntelliSense working on Windows either. Perhaps @TylerLeonhardt or @yatli could provide some insight on the configuration that they're using?

[2019-07-03 17:16] yatli commented on #34
which version are you using?

[2019-07-03 17:18] corbob commented on #34
Version of Vim? I'm using nvim 0.3.7 IIRC. I've loaded it in with `:CocInstall <Path To Cloned Repo>`

[2019-07-03 17:20] yatli commented on #34
@corbob the installation method has changed. Now we're able to install with just `:CocInstall coc-powershell` because the package is now on npm.

[2019-07-03 17:22] yatli commented on #34
To check whether the extension is loaded, use `:CocList extensions` -- active extensions are marked with "*"

To check the extension debug info, use `:CocInfo` and locate the output channel "powershell".

[2019-07-03 17:23] yatli commented on #34
The latest npm package is `0.0.17` as of now

[2019-07-03 19:41] TylerLeonhardt commented on #34
@mikeTWC1984, can you share your
vim/NeoVim version,
node.js version,
your vimrc/init.vim

And please verify you ran `:CocInstall coc-powershell`

There was an issue with the package around the time that you filed and that should be fixed

[2019-07-03 19:43] mikeTWC1984 commented on #34
I'm using vim 8.0.1453. I'm getting same results on windows too..

I ran CocList extension and coc-powershell  was in "loaded" (+)  status. I changed it to enabled (*) but I didn't see any difference.

Below are steps to recreate. Installing all the stuff from scratch on the plain pwsh container. Did I miss anything?

[code]

[2019-07-03 20:38] corbob commented on #34
🤔 It seems that it took some time for the PSIC to start, but once it did, then I get auto-complete...

[2019-07-03 20:56] TylerLeonhardt commented on #34
The first thing it does is download a dependency, PowerShell Editor Services. It takes some time.

If you also add vim-airline, you should see a message “Downloading PowerShell Editor Services…”

[code]

[2019-07-03 23:04] corbob commented on #34
Ah yes, it is much faster the second time around. I am using `Plug 'vim-airline/vim-airline'` for a statusline, perhaps I'll take a look at your init.vim (I have borrowed heavily from yours and @yatli in the past, might as well take another look :joy:

[2019-07-03 23:22] yar05 opened #35 "Commands documentation"
Is there some sort of documentation explaining how to use this ? How to trigger REPL on/off, how to run current code in shell etc?

[2019-07-04 09:14] yar05 opened #36 "Autoformat command"
Is it possible to use this to autoformat powershell code ?

[2019-07-04 12:58] yar05 commented on #34
As of today running exactly the same commands as above does not work. No terminal popup and no autocomplete working in VIM

[2019-07-04 20:25] TylerLeonhardt commented on #34
Looks like we can close this since you need vim8 and that's in our README.md :)

[2019-07-04 20:25] #34 closed

[2019-07-04 20:29] TylerLeonhardt opened #37 "Consider bundling PowerShell Editor Services with coc-powershell"
All we need to do is include PSES as part of the files we want to go in the package.

# Positives

* offline use - fixes #32
* instant first time start up
* No more confusion if the user doesn’t have airline that says it’s downloading pses.
* no more dependency on `node-powershell`

# Negatives

* larger package size
* fixed to PSES version
* locked in to stable (or Preview?) version of PSES… or n

[2019-07-04 20:32] TylerLeonhardt commented on #32
Yep we should ship this on GitHub as well. I think Azure Pipelines has a "Publish to GitHub" task

[2019-07-04 20:32] TylerLeonhardt commented on #32
Keep in mind, #37 will have to be addressed for complete offline use

[2019-07-04 20:34] TylerLeonhardt commented on #37
Related comment https://github.com/yatli/coc-powershell/issues/34#issuecomment-508251935

[2019-07-04 20:39] TylerLeonhardt commented on #37
@yatli let me know what your opinion is 👍

[2019-07-04 20:41] TylerLeonhardt commented on #35
coc-powershell is still in early days. Apologies for the lack of docs!

The `powershell.integratedConsole.showOnStartup` issue sounds like a bug. We should track that in a separate issue

[2019-07-04 20:43] TylerLeonhardt opened #38 "powershell.integratedConsole.showOnStartup set to false issue"
"Changing powershell.integratedConsole.showOnStartup to false disables entire functionality."

From #35

We should verify and figure out what to do. We may need to resort to Stdio in this case if we cant hide the terminal

[2019-07-04 23:28] TylerLeonhardt commented on #37
Options:

* ship stable PSES and let folks opt-in for Preview which downloads the preview (this is what c++ vscode extension does today)
* ship two extensions on npm: `coc-powershell` & `coc-powershell-preview` (this is what we do with vscode today)
* ship stable and preview (probably not a good idea)

[2019-07-05 02:17] TylerLeonhardt commented on #36
In theory this should already work since PowerShell Editor Services (the language server for PowerShell) already supports formatting.

Just need to figure out how to invoke formatting with coc

[2019-07-05 02:20] TylerLeonhardt commented on #36
Looking at my logs, it looks like the formatting isn’t turned on…

[code]

[2019-07-05 02:23] TylerLeonhardt commented on #26
We have a custom message in PSES that will do this. @corbob has context on this :)

[2019-07-05 02:23] TylerLeonhardt commented on #27
This is already supported in PSES, just have to borrow from vscode-powershell most likely

[2019-07-05 02:24] TylerLeonhardt commented on #28
For Pester?

[2019-07-05 02:42] TylerLeonhardt commented on #38
I have reason to believe that this is a coc bug. I’ve opened one: https://github.com/neoclide/coc.nvim/issues/947

[2019-07-05 04:26] corbob commented on #26
🤔 yeah, there's a message that PSES accepts to do this. I'll take a stab at adding it in much the way the evaluate appears to have been added.

[2019-07-05 04:36] corbob commented on #5
Does this change with the move to more typescript? can we push suggested keybindings with coc? or will we need to provide a .vim file for users to import themselves?

[2019-07-05 07:56] yatli commented on #5
No need to provide a vimL file, because we can execute vim commands from typescript

[2019-07-05 10:40] yar05 commented on #36
Is there any way to support you guys with some coins with these efforts?
IMO this project is going to be very popular as there is nothing else that would provide autoformat and autocomplete for powershell for vim it's a big deal for open-source community that wants to actually start using powershell, Microsoft should make this a priority project ;)

[2019-07-05 14:36] mikeTWC1984 opened #42 "Error on active extension coc-powershell: TypeError: (intermediate value) is not iterable"
This is a follow up on https://github.com/yatli/coc-powershell/issues/34
I'm installing everything from scratch (on pwsh ubuntu container), then using [this](https://gist.github.com/TylerLeonhardt/94a00f941e3aa9dcfbdb09052a883459) vimrc. After PlugInstall and CocInstall coc-powershell it start downloading PSES but soon after  throwing this error:

[coc.nvim] Error on active extension coc-powershel

[2019-07-05 16:04] TylerLeonhardt commented on #36
Right now we're just 2 Microsoft folks (and 1 non-Microsoft folk) moonlighting this project 😅

My team, the PowerShell team, would be the best place to officially own it... but the team (of 13 for all of PowerShell + Win32-OpenSSH) has a lot on its plate at the moment.

Best support would be time, if I'm brutally honest. Helping with docs, reproducing issues so we can fix them, and yes PRs always

[2019-07-05 17:27] TylerLeonhardt commented on #38
https://github.com/yatli/coc-powershell/pull/43 fix out (cc @yar05)

[2019-07-05 18:04] JayDoubleu commented on #42
This is interesting. Seems like polyglot needs to be included in both vim or nvim to get poc-powershell to work.

[code]
[code]

[code]

Console starts however there is no auto complete.

Above errors might be related to running it in docker. I will re-run above steps in microVM to see if errors continue.

[2019-07-05 18:45] JayDoubleu commented on #42
@mikeTWC1984

Replace your ~/.vimrc with below:
[code]
Run:
[code]

[2019-07-05 20:50] yar05 commented on #36
Is code formatting handles by [AnalysisService.cs](https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices/Analysis/AnalysisService.cs#L315)?

[2019-07-05 20:51] JayDoubleu commented on #36
Is code formatting handles by [AnalysisService.cs](https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices/Analysis/AnalysisService.cs#L315)?

[2019-07-05 21:10] mikeTWC1984 commented on #42
Yeah, I'm getting same exact result after applying your configs. Do you think this is related to Ubuntu 18? I have it on a physical machine and as container. Which OS / config do you have working installation on?

[2019-07-05 22:18] JayDoubleu commented on #42
Its a bit odd to be honest. When I run from older commits this doesn't happen.
I had everything working two days ago. Now out of curiosity I reinstalled and getting the same error. I think we just need to give guys a little bit more time as this is early development.

[2019-07-05 22:38] corbob commented on #42
I know I've gotten random errors if I close nvim before PSES has been downloaded. My goto when I get random errors is `:CocUninstall coc-powershell` then close and reopen nvim and `:CocInstall coc-powershell` then close it again, and open a ps1 file. Then leave it for a minute or two...

[2019-07-06 18:55] #37 closed

[2019-07-06 19:19] corbob commented on #42
@JayDoubleu it looks like master for coc.nvim is currently broken for the terminal: https://github.com/neoclide/coc.nvim/issues/949, and 0.0.72 appears to also be broken for other parts...

[2019-07-07 06:44] TylerLeonhardt commented on #36
Nice!

The good news is that PowerShell Editor Services already supports handling formatting so if we wanna enable this in coc-powershell, all we have to do is tell coc.nvim that it's supported.

[2019-07-08 21:03] mikeTWC1984 commented on #42
Thanks guys. Tried few different things, but still nothing. Tried on Ubuntu/Mint/Win10/Win2016 both vim/neovim. The best result was  getting pwsh terminal when opening ps1 file, but it just froze the terminal. Will wait for newer releases and try again. Really hope to get it working on linux container

[2019-07-09 05:57] corbob opened #45 "Should have a CONTRIBUTING.md file"
**Summary of the new feature**

I spent an hour and a half on stream trying to get coc.nvim to load the local repository instead of pulling from npm. It would probably be a good idea to have a CONTRIBUTING.md file that can assist with a basic setup to allow local modifications of the file (the fun part for me was figuring out that I needed to run `build.ps1` instead of the `yarn install` command r

[2019-07-09 10:19] #38 closed

[2019-07-09 10:52] yatli commented on #32
@DropBearHunta the bundled PSES is merged to master. Once we push this out to npm, you'll be able to download this self-contained package and copy it over to an offline machine.

[2019-07-09 13:07] corbob opened #46 "PSES Preview doesn't load"
### System Details

* _Vim or NeoVim?_: NeoVim
* _Version of Vim (run `vim --version`) or NeoVim_ (run `nvim --version`):  NVIM v0.4.0-1234-g1b99aa8c5 (a few days old nightly)

* _Version of `coc-powershell` (in Vim or NeoVim: `:CocList extensions coc-powershell`)_: 0.0.17 (local build with attempts to add `powershell/showHelp` command)
* _Operating System_: Windows 10 build 18922 (insiders build)

[2019-07-09 15:29] TylerLeonhardt commented on #32
Here it is! https://github.com/yatli/coc-powershell/releases/tag/v0.0.18

[2019-07-09 15:29] #32 closed

[2019-07-09 19:24] corbob commented on #25
I just realized that I opened issue #46 instead of posting it here... But, thinking about it, I think it's more of a need to resolve 46 in order for this to be a reality. I haven't delved enough into the logs to try to determine what the issue might be with preview.

[2019-07-12 16:39] TylerLeonhardt commented on #42
I think we’ve determined that this is an upstream issue, yeah? There was a release of coc.nvim yesterday. Maybe worth giving another go.

Note: I have gotten this running within Azure Cloud Shell which is just an ubuntu container so I know it’s possible

[2019-07-12 16:40] TylerLeonhardt commented on #42
Also, we should probably do something about the polyglot issue - we use to [set the filetype](https://github.com/yatli/coc-powershell/blob/2a3a4051070e4f62774bab97a5325146f98cf575/ftdetect/ps1.vim) if it wasn’t already set, but ever since we moved to typescript, I don’t think we do that anymore.

[2019-07-12 16:54] JayDoubleu commented on #42
I can confirm it works for both vim and neovim with polyglot enabled.

[code]
`runuser -l vim -c 'vim test.ps1'` < VIM works fine
`runuser -l nvim -c 'nvim test.ps1'` < NEOVIM works fine.

@TylerLeonhardt  is there a quick way to enable disable shell from within VIM so it can be mapped? Have to exit vim twice now or use :qa

[2019-07-12 17:09] TylerLeonhardt commented on #42
If you apply the setting:

In your CocConfig, you can add:

[code]

but I’m not sure of a keybinding to show/hide the terminal. I think something like that should probably come from coc. It might already be possible.

[2019-07-12 17:11] TylerLeonhardt commented on #42
@JayDoubleu in that Dockerfile have you considered starting from the Node or PowerShell images?

[2019-07-12 19:10] JayDoubleu commented on #42
@TylerLeonhardt  I have originally been testing with powershell image, its just the same as ubuntu:18.04 anyway but then switched to just ubuntu as I had it working on my pc but not in container so decided to check if the powershell image isn't built in some funky way, then just didn't bother to switch it back to powershell.

Node images are debian based, no ppa for latest vim on it so getting the

[2019-07-12 19:28] mikeTWC1984 commented on #42
I jut tested on my end, it's working now. Thanks!

[2019-07-12 19:39] TylerLeonhardt commented on #42
Awesome! Can we close this now?

@JayDoubleu makes sense! Would love to see a Dockerfile in this repo that has a full nvim/vim powershell dev experience if you’d like to contribute it! (my only suggestion would be to switch back to the PowerShell image 😄 )

[2019-07-12 20:13] mikeTWC1984 commented on #42
Yes. We can close it.
I think it's a good idea to create some enhanced pwsh image that would also include your plugin, dotnet sdk (with psmodule template),  omnisharp,  mono ,  openssh. and come common pre-configured vim plugins. I think at this point it's really challenging to set good vim dev environment for vim newbes

[2019-07-12 20:15] mikeTWC1984 commented on #42
Regarding that terminal, is it possible to execute current file in there, similar to what F5 would do in ISE/VSCode? Would be awesome to recreate F8 as well (execute selection).

[2019-07-12 20:28] JayDoubleu commented on #42
@TylerLeonhardt  sure thing. Dropped a PR with powershell image.

[2019-07-12 20:57] corbob commented on #42
@mikeTWC1984 you should be able to execute the current file with (something akin to) `:CocCommand powershell.execute` if you do `:CocCommand <Tab>` it should tab complete the available commands. IIRC there's evaluateLine, evaluateSelection, and execute. (evaluate selection currently does *all* lines in the selection, not just the selection.)

As for getting setup for developing, we are always look

[2019-07-12 20:57] #42 closed

[2019-07-12 21:20] JayDoubleu opened #50 "CocCommand powershell.execute spawns new terminal"
### System Details

* _Vim or NeoVim?_: Both
* _Version of Vim : VIM - Vi IMproved 8.0, NVIM v0.3.7
* _Version of `coc-powershell` : coc-powershell 0.0.18
* _Operating System_: Ubuntu 18.04
* _PowerShell version : 6.2.1

### Issue Description

Running `:CocCommand powershell.execute` spawns new terminal on top of PowerShell Integrated Console and exits

#### Expected Behaviour

Code should run in

[2019-07-13 10:59] yatli commented on #50
hi @JayDoubleu ,

It was intentional because the integrated console powers the language services, and carries an environment with evaluation. It's not the same as running the file from scratch.

What do you think?

[2019-07-13 11:02] JayDoubleu commented on #50
Well then I would suggest adding option to powershell.executeBuffer ?
Such option would not require file to be saved first and would execute entire buffer into the integrated console which is something I would expect from VSCode to do ?
Technically speaking I could just somehow make selection of entire buffer and then execute the executeSelection but its not exactly the same.

[2019-07-13 11:06] yatli commented on #50
Got an idea -- maybe let integrated console spawn a child to execute that?

[2019-07-13 11:08] yatli commented on #50
Dragons ahead! You may be trapped in a `ReadLine()` in that case

[2019-07-13 14:35] TylerLeonhardt commented on #50
In the ISE & VSCode extension, this is typically referred to as the F5 experience which would run the file you are currently looking at in the Integrated Console. It'd typically run:

[code]

However, the biggest difference between ISE and VSCode  is that F5 in VSCode uses debugging through the Debug Adapter Protocol (something that coc.nvim doesn't support at the moment).

Perhaps the best way to

[2019-07-13 14:41] JayDoubleu commented on #50
Just an idea (probably a bad one), What if you would send whole buffer to base64 and execute it with pwsh -EncodedCommand in Integrated shell ?

[2019-07-13 15:07] TylerLeonhardt commented on #50
The problem with that is variables like `$PSScriptRoot` won't be defined because they're no longer "in the file".

In theory, in the language server we can catch those and replace them with the absolute path of the file, but the user could still be using the `Cmdlet` class for something and if they are, that won't work.

[2019-07-13 17:33] mikeTWC1984 commented on #42
@corbob  Thanks. I just tested it in vim. evaluateLine works as expected. "execute" just prints results in a separate buffer and closes immediately (something similar to !pwsh %) . "evaluateSelection" throws error. Does it work any better on your end?

[2019-07-14 03:22] mikeTWC1984 commented on #50
I was playing with this myself. I'm getting error while running evaluateSelection. @JayDoubleu can you confirm it's working on your end? I'm running this in vim and the error is: _"request error nvim_buf_get_mark - buf_get_mark support current buffer only"_

[2019-07-14 13:09] JayDoubleu commented on #50
@mikeTWC1984  well i am not getting this error, you might want to try running CocUpdate command etc.

I personally don't use integrated shell now. Instead I am using Nuake plugin with `autocmd FileType ps1 setlocal shell=pwsh`

[2019-07-14 14:52] mikeTWC1984 commented on #50
@JayDoubleu  Thanks. Can you send vim buffer or selection to execute in Nuake terminal?

[2019-07-14 14:55] JayDoubleu commented on #50
@mikeTWC1984  well you can't however what I tend to do is just quick save + F12 to open nuake, run the file itself. If I don't exit the code buffer I can still undo changes

[2019-07-14 18:55] mikeTWC1984 commented on #50
I tried evaluateSelection in nvim and it works, so I guess there might be a bug in vim version of it. Anyway, evaluateSelection do exactly what I was looking for (same F8  in ise), great work! Regarding "execute" command - the output disappear right after execution. Is that a bug or feature?  @TylerLeonhardt  Is there a way to generate command you mention (& "/path/to/my/script.ps1") and send it t

[2019-07-14 22:02] JayDoubleu commented on #50
@mikeTWC1984
You can have a look at a quick script i've made here:
https://github.com/JayDoubleu/vim-pwsh-exec

It's able to execute entire buffer, current line and visual selection.

[2019-07-15 01:18] mikeTWC1984 commented on #50
@JayDoubleu  it's good, however I like the idea to execute lines within actual terminal context. Basically ISE's F8 function (I just use it all the time), evaluateSelection seemed to solve this request. To execute buffer we can just select all lines, although as was mentioned above it might be different from executing actual file. I think current file execution command should be added too. Somethi

[2019-07-15 08:16] JayDoubleu commented on #50
in this case invoking powershell in terminal is not going to cut it.  If you want ISE functionality the buffer/selection/line would need to be saved to tmpfile and then sourced within integrated shell. The plugin from above has most of the code to do that. There is also a way to find out the buffershell for coc-powershell and send  source command to it using https://neovim.io/doc/user/eval.html#ch

[2019-07-15 08:29] yatli commented on #50
@mikeTWC1984 the buffer mark problems is probably due to an upstream bug.
Could you provide the output of `:CocInfo`? I'll file a bug report for `coc.nvim`

[2019-07-15 14:41] mikeTWC1984 commented on #50
@JayDoubleu  Thanks, will check it out.
@yatli
vim version: VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Jun 06 2019 17:31:41)
node version: v10.16.0
coc.nvim version: 0.0.73-5c385721a8
term: dumb
platform: linux

[2019-07-15 18:03] mikeTWC1984 opened #51 "Adding Snippets"
Another useful feature to have. I personally like ISE way (ctr + j), but VSCode is good too (just typing snippet name and it appears on the autocomplete list).

[2019-07-16 15:45] TylerLeonhardt commented on #51
coc.nvim already supports this: https://github.com/neoclide/coc.nvim/wiki/Using-snippets

So all we need to do is copy over the [snippet file from vscode-powershell](https://github.com/PowerShell/vscode-powershell/blob/master/snippets/PowerShell.json) and then add [these lines](https://github.com/PowerShell/vscode-powershell/blob/master/package.json#L304-L309) into our package.json!

@mikeTWC1984

[2019-07-16 15:57] TylerLeonhardt commented on #50
Yes! See [this part of the code](https://github.com/yatli/coc-powershell/blob/master/src/client/extension.ts#L88-L91) where we handle F8.

All that we need is to do is have powershell.execute run:

[code]

[2019-07-16 16:15] TylerLeonhardt commented on #50
![image](https://user-images.githubusercontent.com/2644648/61310760-c94ba400-a7a9-11e9-8536-e23c4d4b746f.png)

Here we gooo https://github.com/yatli/coc-powershell/pull/52

[2019-07-17 02:04] mikeTWC1984 commented on #51
Sure, will do. Is everything can be ported from vscode to vim that easy? ) I think the last thing left is ISE color theme (just for fun), can it be ported from VSCode too?

[2019-07-17 02:28] mikeTWC1984 opened #53 "Completion suggestion - fuzzy search"
Looks like by default  auto-completion uses some fuzzy search and then sort results alphabetically. For example if I type Get-Dat, it wll list about 30 Get-AZDataLake* cmdlets first (Get-Date will be in the bottom). How to change it to use exact match (it works like that in VSCode)?

[2019-07-17 02:57] mikeTWC1984 commented on #51
Can't figure out which package.json file to put that snippet config? I tried **~/.config/coc/extensions/node_modules/coc-powershell/package.json**, has no any effect.

[2019-07-17 05:41] TylerLeonhardt commented on #53
Interesting... This is definitely going to be an upstream bug in coc.nvim.

They send the completion message. VSCode is what actually sorts it properly.

Can you move this over there and maybe provide a screenshot and mention me?

[2019-07-17 05:44] TylerLeonhardt commented on #51
Hmm interesting. @yatli have you gotten snippets working in your other coc extensions?

[2019-07-17 10:28] yatli commented on #51
I haven't played with snippets yet, but according to the doc, it supports quite a few snippet formats.

@mikeTWC1984 you'll need to edit package.json:

1. Add the snippets folder in the "files" section.
2. In the "contributes" section, list the snippet files, and associate them with language id "ps1"

I have no experience with the actual process though 😅

[2019-07-17 10:30] yatli commented on #51
maybe that's the thing, vscode extension uses "powershell"

[2019-07-17 13:12] corbob commented on #51
@mikeTWC1984 I'm currently working on a CONTRIBUTING.md document in PR #48. Perhaps take a look and let me know if you need assistance.

Basically what I do is checkout the repo to a directory, then tell vim to load the plugin from there.

[2019-07-17 14:05] corbob opened #54 "Add integrations?"
**Summary of the new feature**

On the [vscode-powershell](https://github.com/powershell/vscode-powershell) repository there is integrations setup for Codacy and Dependabot. Would it be an idea to add those here as well? Dependabot at least would allow us to ensure we're keeping somewhat up to date on dependencies with hopefully less effort.

[2019-07-17 14:14] yatli commented on #26
tracking: #47

[2019-07-18 01:00] #45 closed

[2019-07-18 01:02] TylerLeonhardt commented on #54
Yep. Agree. @yatli since you’re doing a few other coc extensions… maybe it’s worth making a `coc-extensions` github org and put this, fsharp, and omnisharp under it?

Then we can have better permissions.

[2019-07-18 01:31] yatli commented on #54
yeah I'd very much love to consolidate things a bit.
I'll take some time to understand these modern toolings ;)

[2019-07-18 03:16] mikeTWC1984 commented on #51
I played a bit more and still wasn't able to modify coc-powershell's package.json to load snippets, however after replacing snippet file (to PowerShell.json) and language to ps1 in the sample snippet repo I was able to see ps snippets in autocomplete. So at least we can solve that by creating separate repo.

[2019-07-18 05:02] corbob commented on #51
🤔 I can't seem to get it to work either.

I added snippets to the contributes. And copied PowerShell.json to the coc-powershell directory:

[code]
then I made sure it was loading my config by revving the version to 0.0.38. And either I don't know how to trigger the snippets, or they're not actually loading. I'm going to go and read the docs and report back :joy:

[2019-07-18 05:22] corbob commented on #51
OK, after reading the docs, there are two things I was missing... I forgot to read my contributing file to know that I needed to run `build.ps1` :joy: and apparently you also need to install `coc-snippets`. After doing the `build.ps1` I got PSIC and intellisense. Then after installing coc-snippets, I got snippets. To complete, you select it and then hit Ctrl+y (there's a snippet in the docs to upd

[2019-07-18 06:30] #50 closed

[2019-07-18 06:54] TylerLeonhardt commented on #51
Nice. Seems pretty straightforward then. @Corbob do you want to send the PR?

[2019-07-18 13:30] corbob commented on #51
I was going to let @mikeTWC1984 put it together (my testing was done within a differently tracked directory).

I'll throw a PR together tonight if mikeTWC1984 hasn't.

[2019-07-18 13:39] mikeTWC1984 commented on #51
@corbob  Good news. Go ahead and throw your PR ( I don't have much to submit on my end :) )

[2019-07-18 13:42] corbob commented on #51
One thing to be aware of for snippets is to move between inputs: To navigate forward/backward of a snippet placeholder, use <C-j> and <C-k>. Vim global variable g:coc_snippet_next and g:coc_snippet_prev can be used to change the key-mapping.

Seeing that we can do that, I wonder if we should integrate something in the build script to pull the snippets out of the vscode-powershell repository... tha

[2019-07-18 14:21] TylerLeonhardt commented on #51
That seems pretty straightforward considering it's just json 👍

[2019-07-21 02:03] mikeTWC1984 commented on #53
OK, they seemed to fix that. Closing

[2019-07-21 02:03] #53 closed

[2019-07-24 03:43] mikeTWC1984 opened #56 "Integrated PS console - follow up"
Did some clean up/overview and realize some old issues are still there

1) Despite #52   powershell.execute command still doesn't  work properly, file path is generated but is sent to a new terminal (not the integrated one) and closes immediately. Tested in both vim/nvim  (latest) on a fresh Ubuntu container.

2) evaluateSelection doesn't work in Vim (works fine in NeoVim). Getting this error:
**r

[2019-07-25 03:50] mikeTWC1984 opened #57 "powershell.evaluateSelection - executes entire line, not a selection"
In case if you select only some part of a single line, evaluateSelection will expand it to include entire row. For example if I only want to select and execute command in bold I'll get error:

if ( **test-path  ./somefile**) {
  ....
}

Can we tweak it to run selection only?

[2019-07-26 03:24] TylerLeonhardt commented on #56
@yatli have we done a release since #52 went in?

[2019-07-26 03:32] TylerLeonhardt commented on #56
Number 2 is probably related to our selection implementation... It's a bit of a hack.

@chemzqm anything that you might need that could help with understanding the 3rd problem? Seems like that's possibly a coc.nvim issue?

[2019-07-26 03:34] TylerLeonhardt commented on #57
Yes, this looks like a bug. Thanks!

[2019-07-26 03:35] TylerLeonhardt commented on #46
Ah... The Start-EditorServices.ps1 params might be different...

[2019-07-26 04:00] corbob commented on #56
I'm using `NVIM v0.4.0-1234-g1b99aa8c5 ` and not having any issues with PSIC in nvim, or nvim-qt (biggest trouble is remembering how to exit the terminal...) I also don't recall having any issues with nvim stable, but it's been a while so I could be wrong...

[2019-07-26 16:45] mikeTWC1984 commented on #56
@corbob  Is that on Windows?  I think on Windows problems starts when you install coc extensions, getting error from npm about certificates or something (although npm works fine outside vim, and I can run build.ps1 just fine). Idk, maybe manual install will help
Just realized windows terminal is already on choco, looking forward to try vim on it.

@TylerLeonhardt , @yatli  I discovered that integr

[2019-07-27 19:28] corbob opened #59 "Build Enhancement"
**Summary of the new feature**

I was looking at the `build.ps1`, and I noticed that we now have a few checks for folders (PSES and Snippets), but no way to "clean" the environment. Before working on a bunch of scripts for this, I thought I would put it out there to consider different options and decide upon one? My preference would be to consider `Invoke-Build` that is used by [vscode-powershell]

[2019-07-28 17:17] TylerLeonhardt commented on #59
Since we have a legitimate build step in this project (TS) I think moving to InvokeBuild is a great idea 👍

[2019-07-29 08:33] #51 closed

[2019-07-29 16:40] TylerLeonhardt commented on #57
Fix incomming! https://github.com/yatli/coc-powershell/pull/60

[2019-07-30 16:17] #57 closed

[2019-07-31 19:28] mikeTWC1984 commented on #56
I see 1 and 2 are fix for both vim/neovim, thanks! I'm good to close this

[2019-08-01 00:37] TylerLeonhardt commented on #56
@mikeTWC1984 is 3 still an issue?

[2019-08-01 08:24] yatli commented on #56
@mikeTWC1984 which version of gVim are you running? At least 8.0 is required

[2019-08-01 17:10] mikeTWC1984 commented on #56
Yes, still getting same error. Using 8.1  (latest available on their website)
![gvim81err](https://user-images.githubusercontent.com/31977106/62312951-805c4680-b45d-11e9-9dcc-8296a8aa1947.PNG)
I'm getting it on 3 different machines so I assume this is something common.

[2019-08-01 17:13] yatli commented on #56
can you provide the output of `:CocInfo`?

`:CocOpenLog` may also help

[2019-08-01 17:17] mikeTWC1984 commented on #56
![cocinfo](https://user-images.githubusercontent.com/31977106/62313329-856dc580-b45e-11e9-9415-089b6fdde0db.png)

[2019-08-01 17:18] mikeTWC1984 commented on #56
this is lcocopenlog:
2019-08-01T13:17:32.972 INFO (pid:34232) [plugin] - coc 0.0.73-d9ac1b1568 initialized with node: v10.16.0

[2019-08-01 17:18] mikeTWC1984 commented on #56
Are you guys able to launch it on windows with no problem?

[2019-08-01 17:20] yatli commented on #56
I'm always sticking to Windows, no problem on my side.
I use NeoVim.

[2019-08-01 17:28] yatli commented on #56
This doesn't look like a Vim-related problem -- more likely on the javascript side.
Which version of Windows are you running?

[2019-08-01 20:33] mikeTWC1984 commented on #56
windows 10 and server 2016. Do you have any issue with gVim on your end? I have neovim 0.38 on one of the machines, but terminal just doesn't start.

[2019-08-02 01:57] mikeTWC1984 commented on #56
I realized I didn't have polyglot on my nvim. After adding completion started working. Tested this on 2 machines. I guess we need to update read me to move polyglot from recommended to prereq. Still can't get it to work with gvim. But I'm good for now anyway

[2019-08-02 03:30] TylerLeonhardt commented on #56
Sounds good. Is it cool that we close this? I think you should open an issue on gvim or coc for better support there but also we should have an issue opened to have polyglot not be a dependency

[2019-08-02 03:44] yatli commented on #56
@mikeTWC1984 I have the problem repro.
`[coc.nvim] Error on active extension coc-powershell: TypeError: (intermediate value) is not iterable`
Environment is:
Windows 10 1903
node 10.11
coc 0.0.73
polyglot: yes

I will trace this problem now.

[2019-08-02 13:13] mikeTWC1984 commented on #56
Yeah, since nvim is working fine, we definitely can close it. If you guys can figure out if it's coc.nvim or gvim issue I can forward this to them

[2019-08-05 19:22] yatli commented on #36
@TylerLeonhardt I'm trying to implement format handlers for `coc-fsharp` these days, got some hands-on experience with coc.nvim;

Basically:

1. The `formatexpr` option is tied to `gq`, but not `=`. `=` uses built-in indent function, backed by the vimL associated with the file type (indent.vim) -- so that can also be rerouted.
2. Manually call `CocAction('format')` works great -- so is `CocAction(

[2019-08-05 19:44] TylerLeonhardt commented on #36
I discovered that PSES has poorly hooked up formatting... that relies on this code in the client side:

https://github.com/PowerShell/vscode-powershell/blob/master/src/features/DocumentFormatter.ts

I'm doing some major refactoring of PSES and this code wont be required in the future but for now it is

[2019-08-13 13:07] SeeminglyScience opened #62 "Setting powerShellExePath crashes on extension load"
### System Details

* _Vim or NeoVim?_: NeoVim
* _Version of Vim (run `vim --version`) or NeoVim_ (run `nvim --version`): v0.4.0-259-g9b4383261
* _Version of `coc-powershell` (in Vim or NeoVim: `:CocList extensions coc-powershell`)_: 0.0.19
* _Operating System_: Windows 10 1903
* _PowerShell version (in PowerShell: `$PSVersionTable`)_: 7.0.0-preview.2

### Issue Description

Adding config option `

[2019-08-14 20:46] mikeTWC1984 opened #63 "few improvements"
**- powershell.Execute**
 use ```.'/path/to/file.ps1'```  instead of ```&'path/to/file'```
Current version runs as job, so it's just printing standard output, and not loading variables to current session (say if I execute ```$a = 10; Wrote-Host $a``` I'll see output on the terminal, but variable $a won't be created)
Also, need some setting to skip Y/N prompt (and save file by default). Or a separa

[2019-08-14 22:39] corbob commented on #63
I don't think polyglot is completely needed. Without it you need to set your file language yourself though. As for coc-snippet, the note about it needing 0.4 is straight from it's readme. Although I too had it working fine with "stable" versions of neovim.

[2019-08-15 05:47] mikeTWC1984 commented on #63
@corbob do you mean it can work with any other syntax highlighter? I guess it's still a dependency though.

[2019-08-16 05:12] TylerLeonhardt commented on #63
Or other good option - open ps console prior the ps1 file, so console will be buffer 1 and file buffer 2

This will hide the integrated console at startup:
[code]

[2019-08-16 16:27] mikeTWC1984 commented on #63
@TylerLeonhardt   I wanted to keep console, but hide it from tabline (similar to vscode), which I guess can be achieved with some simple tweaks. Now I realized that toggling (show/hide) that console would be extremely useful. I'll probably open a new issue for that

[2019-08-16 17:50] TylerLeonhardt commented on #63
This should probably come from coc.nvim so that all extensions that use terminal's can take advantage of it.

[2019-08-26 01:46] mikeTWC1984 opened #64 "How to set different path to pwsh?"
Trying to use pwsh-preview on linux in neovim but can't figure out how to set it. I tried to put the below setting in CocConfig, but getting error about undefined powerShellExePath:
[code]

Any suggestion?

[2019-08-27 17:33] yatli commented on #62
thanks @TylerLeonhardt !

[2019-09-02 03:13] mikeTWC1984 opened #66 "Console issues"
This configuration doesn't seem to work:
**"powershell.integratedConsole.focusConsoleOnExecute":true**

If I close PSIC window and execute evaluateSelection or Execute commands PSIC window will not come back.

Other thing. I was browsing extensions.js file, I see that consoleTerminal has show and hide methods. Is it possible to map those as coc commands? (assuming these methods showing/hiding that

[2019-09-02 23:55] TylerLeonhardt commented on #66
How do you close the PSIC window? With `:q`? If so, do you still get intellisense in the editor buffer?

Do you have a link to the issue? Maybe I can help - this really should be a thing in `coc.nvim`.

[2019-09-03 01:56] mikeTWC1984 commented on #66
Yeah, I close it with q. But I do it just to get more space for my script, so if I run script or selection I definitely need get that console back. I realized that showTerminalIfVisible function is just used to move cursor to the PSIC buffer (when running F5/F8). I think we actually should do the opposite (same way as VSCode) - show it if it's hidden, that would make this function much more meanin

[2019-09-03 02:06] mikeTWC1984 commented on #66
Also, I'm still  looking forward to use dot sourcing (vs &) for execute command, so it works the same way as ISE. I guess we can create extra configuration to keep both options

[2019-09-16 15:32] yatli commented on #36
@TylerLeonhardt ringring ;)

[2019-09-17 06:26] TylerLeonhardt commented on #36
Good news and bad news:

bad news - coc.nvim doesn't support:
`vscode.languages.registerDocumentFormattingEditProvider`
`vscode.languages.registerDocumentRangeFormattingEditProvider`
`vscode.languages.registerOnTypeFormattingEditProvider`

so I can't implement this at the moment. That said, PowerShell Editor Services is moving to handle the formatting registration automatically so in the 2.0 versi

[2019-09-17 06:30] yatli commented on #36
good to know!

[2019-09-17 06:30] TylerLeonhardt commented on #36
We will race with coc.nvim to see what happens first: https://github.com/neoclide/coc.nvim/issues/1179

[2019-09-17 06:32] yatli commented on #36
race conditions! :D

yeah for F#, I just declared these capabilities in the language server so it works automatically.
Let's see how `coc.nvim` will respond.

[2019-09-17 06:34] TylerLeonhardt commented on #36
Right. PowerShell Editor Services never did this for some reason... really not sure why.

[2019-09-17 06:39] TylerLeonhardt commented on #66
@mikeTWC1984 well unfortunately coc.nvim has asked us to implement the toggle ourselves. Since you seem to have an understanding of what needs to be done, do you wanna submit a PR?

It really dot sources it? That seems like it could cause some problems with scoping that could confuse the user? I'm fine adding it in with a configuration but I am inclined to say that `&` should be the default since

[2019-09-17 06:41] TylerLeonhardt commented on #27
Does `coc.nvim` support CodeLens?

[2019-09-17 06:41] yatli commented on #27
Yes!

[2019-09-17 06:48] TylerLeonhardt commented on #54
we have dependabot now :)

[2019-09-25 13:49] Gankarloo commented on #56
I have the same problem, trying to use coc-powershell on windows.
Enabled the debug log and found this:
[code]
My Environment is:
[code]

[2019-09-27 04:23] mikeTWC1984 commented on #66
@TylerLeonhardt  OK, I submitted PR, although it didn't pass autocheck (it wants some syntax improvements), I'll keep it as is for now.

[2019-09-30 13:21] corbob opened #75 "downloadPSES.ps1 is failing to download PSES"
### System Details

* _Version of `coc-powershell` (in Vim or NeoVim: `:CocList extensions coc-powershell`)_: git master branch
* _Operating System_:
* _PowerShell version (in PowerShell: `$PSVersionTable`)_:  6.2.2 (and 5.1.something)

### Issue Description

I am experiencing a problem with downloading PSES.

#### Expected Behaviour

Download PSES to the appropriate location.

#### Actual Behavio

[2019-09-30 13:49] corbob commented on #75
It would appear this is due to PSES not having compiled artifacts for the latest releases. I've opened an issue there: https://github.com/PowerShell/PowerShellEditorServices/issues/1047

[2019-09-30 14:17] TylerLeonhardt commented on #75
oops. Not sure why the zips failed to upload... this should be fixed now!

[2019-09-30 14:17] #75 closed

[2019-10-10 20:43] Praful commented on #42
I've started getting this error when I open a Powershell script in gvim on Windows 10. I use vim-plug to load polyglot and coc:

[code]

and have loaded the Powershell extension using `:CocInstall coc-powershell`.

[2019-10-11 09:42] Gankarloo opened #77 "[coc.nvim] Error on active extension coc-powershell: TypeError: (intermediate value) is not iterable"
### System Details

* _Vim or NeoVim?_: **Vim**
* _Version of Vim (run `vim --version`) or NeoVim_ (run `nvim --version`): **8.1**
* _Version of `coc-powershell` (in Vim or NeoVim: `:CocList extensions coc-powershell`)_: **0.0.21**
* _Operating System_: **Windows 10**
* _PowerShell version (in PowerShell: `$PSVersionTable`)_: **5.1.17763.592**

### Issue Description

[coc.nvim] Error on active ext

[2019-10-18 16:56] Praful commented on #77
I started getting this error recently too. It was working a few weeks ago.

PowerShell/Windows:
[code]

Coc info:

[code]

[2019-10-18 20:08] TylerLeonhardt commented on #77
Are you using gVim? I heard there was an issue with gVim and I don't think there's much we can do about that.

[2019-10-18 22:48] Praful commented on #77
Yes, I'm using gVim. The problem occurs on Vim too (Windows again). This was working a few months ago. I've reverted back to several Vim versions that I can compiled over the past year and also compiled the latest Vim (8.1.2176). None of them worked.

I've tried the coc JavaScript and Python plugins and they're working in gVim.

Is there any diagnostics I could do to help?

[2019-10-25 23:10] TylerLeonhardt commented on #77
This is probably related to our use of a terminal buffer. JS and Python don't use that. @yatli or @chemzqm any thoughts on how we can diagnose this? It works well on non-Windows.

[2019-10-26 05:41] chemzqm commented on #77
I have reproduced the issue.

[2019-10-26 06:08] chemzqm commented on #77
Fixed by https://github.com/neoclide/coc.nvim/commit/36e476819f6cc067c696b7314f56515b7af89e07, there is an unnamed variable, also improved the error message

[2019-10-26 09:57] Praful commented on #77
I can confirm that the error has disappeared. Auto-completion is now working and a PowerShell Integrated Console appears when a `.ps1` file is opened.

However, when the `.ps1` is closed, the PowerShell is the only window open and I can't close it! `Exit` or `Quit` does nothing. The only thing I can do is click the `X` in the top right corner to close the gvim app. When I click `X`, the following

[2019-10-26 15:41] TylerLeonhardt commented on #77
@Praful

Thanks @chemzqm! 🎉

You mean the actual PowerShell shell that you launched gvim from? Or the PowerShell Integrated Console? If the latter, try `:q`. or `:qall`?

We don't look at the PATH because it's expensive. Currently on Windows, we use 5.1 by default. You can change this by adding `"powershell.powerShellExePath": "/path/to/pwsh.exe"`. To you `:CocConfig`.

That code path will change,

[2019-10-26 22:09] Praful commented on #77
I'm referring here to the PowerShell Integrated Console. Once that becomes the sole window open in gvim, I can't do anything except type in the console! The gvim menus are disabled and `:q` or `:qall` are just entered into the console, as if they were shell commands.

If I `:qall` when the `.ps1` script is also open (ie two windows are open: the script and the PowerShell Integrated Console), I get

[2019-10-27 00:20] TylerLeonhardt commented on #77
@Praful

First do `ctrl`+`\`, `ctrl`+`n` I think, to go to "Normal" mode for the terminal. Then do `:q`. Although gVim might have a different way to exit a terminal buffer.

It's a different profile. In the PowerShell Integrated Console, run `$profile` to get the path to the coc-powershell profile.

This is similar to how the VSCode extension or ISE have different profiles.

[2019-10-27 03:06] corbob commented on #77
@TylerLeonhardt is this because you're planning to bring the update into coc-powershell?

[2019-10-27 03:27] TylerLeonhardt commented on #77
@Corbob yep. In fact, I might steal that code and publish it on npm.

[2019-10-27 16:55] Praful commented on #77
Thanks that works. However, it's quirky.

If I close the script first (`:q`), the PowerShell Integrated Console (PSIC) is now the full window. If I press `ctrl+\`, `ctrl+n`, the PSIC prompts:
[code]
After I click `Yes`, the PSIC closes but _another_ PSIC opens!

I then repeat the above sequence: go to normal mode on the newly created PSIC, click `Yes` at prompt. Then the PSIC closes and gvim quits

[2019-10-27 23:49] TylerLeonhardt commented on #77
It's kinda new... There's a setting to hide it at start up. It's like...

[code]

It's a different host and therefore should be a different profile. That's typically the guidance.

[2019-10-28 03:08] corbob commented on #77
This is also what is done in the ISE and vscode. If you populate `$profile.CurrentUserAllHosts` or `$profile.AllUsersAllHosts` it should be picked up (or at least it is in vscode).

[2019-10-28 13:21] Gankarloo commented on #77
Thanks @chemzqm Now it works.
I also find the PSIC annoying when exiting vim or I accidently switch to that buffer.
Is there a way to automatically close the Terminal buffer when the buffer running coc-powershell is closed?

[2019-10-29 17:02] Praful commented on #77
@TylerLeonhardt
[code]
The above works. However, the PSIC is just hidden. The same `kill job...` prompts appear when quitting gvim.

If you try to `:bd` the PSIC, you get:

[code]
with possible options of "Yes", "No" and "Cancel". Regardless of which you choose, nothing visibly happens! So the only way of closing the PSIC is to quit (g)vim on Windows.

Is this intentional behaviour? What problem w

[2019-10-29 17:14] TylerLeonhardt commented on #77
Please understand that I don't think this prompt appeared before and doesn't appear on non-Windows which is what I use. This is a 100% community driven product and some things will be missed/bugs will show up since it's very difficult to write proper tests.

That said, @yatli has typically been the one "manually testing by using" on Windows - have you seen this before?

PSIC was introduced to prov

[2019-10-29 17:16] TylerLeonhardt commented on #77
@Praful here's the [doc on profiles](https://docs.microsoft.com/powershell/module/microsoft.powershell.core/about/about_profiles) which should help in understanding what each profile in PowerShell does and when it gets run.

[2019-10-29 17:50] yatli commented on #77
`coc.nvim` uses different mechanisms for `vim` and `nvim`, to start terminals -- `jobs` for `vim` specifically.

I've just tested with `gvim.exe` and here's what happens on `:q`:
![image](https://user-images.githubusercontent.com/20684720/67794434-99ee4800-fab7-11e9-8807-f22723905613.png)

Here's `:bd`:
![image](https://user-images.githubusercontent.com/20684720/67794466-a7a3cd80-fab7-11e9-8be9-bd

[2019-10-29 17:54] yatli commented on #77
@TylerLeonhardt in addition to `activate`, we need to tear down the language service with a `deactivate` method. That's the place where we should destroy the terminal (and thus the job).

That said, it's still a bit strange to have to tear down a shell when the last `.ps1` buffer is gone..

[2019-10-29 18:54] TylerLeonhardt commented on #77
@Praful no worries! The `$profile` paths are just file paths so what I would recommend is opening the file that `$PROFILE.CurrentUserAllHosts` gives you and put the code that you want to run for both vim _and_ the normal console in that.

Make sure you comment out the code in the normal console profile so that you don't have the same  code running twice!

[2019-10-30 01:39] chemzqm commented on #77
I've made vim kill the terminal job when window is closed.

[2020-04-21 22:04] dseeni opened #97 "Ability to unlist Terminal buffer"
Is there anyway to close the powershell integrated console in neovim? It keeps on launching, even if I kill the buffer it automatically recreates itself.

[2020-04-21 22:09] dseeni commented on #97
nevermind, you guys added coc hide terminal!!!!!!!!!!!!!
hooray!!!!!!!!!!! coc hide terminal <3<3<3

[2020-04-21 22:22] dseeni commented on #97
Reopening this issue
there is no way to close the integrated console buffer? it automatically recreates itself
![image](https://user-images.githubusercontent.com/6591429/79919788-e457de00-83e3-11ea-9c05-fa5710814087.png)

[2020-04-21 23:10] TylerLeonhardt commented on #97
you can set this setting:

[code]

or use the CocAction `powershell.toggleTerminal`

[2020-04-23 04:52] dseeni commented on #97
Tyler,
Neither CocAction OR showOnStartup solve this issue, if it were so I would be very pleased.

Unfortunately that does NOT make the seperate powershell integrated console disappear. There is literally no way to close the buffer or quit.

The only work around I have for this is setting up an autocmd to unlist the buffer, like so:
![image](https://user-images.githubusercontent.com/6591429/80060

[2020-04-23 05:18] TylerLeonhardt commented on #97
Like you said, all of the language features come from the Integrated Console if you get rid of that, then you don't have any of the goodness that coc-powershell provides.

The reason why the Integrated Console is displayed by default is because this extension is attempting to replicate the experience that a lot of PowerShell users expect:

* script on top
* REPL on bottom
* some ability to run par

[2020-04-23 09:24] dseeni commented on #97
I just like my buffer list to be buffers I want to be seeing. When you cycle through buffers, say I'm working with only 2 files, its nice to swap between them, rather than have a mandatory 3rd buffer (the powershell ISE) in between. Really just a preference thing.

Of course, the CocAction to hide the split in the powershell file could also unlist the ISE buffer (basically my autocmd). And 'show'

[2020-04-23 15:24] yatli commented on #97
Yes I think this is a preference, and our current implementation complies to the nvim defaults (terms are listed). You can use something like [vmux|https://github.com/yatli/vmux.vim] to automatically unlist the terminal buffers.

[2020-04-23 15:25] TylerLeonhardt commented on #97
Yeah we call to coc.nvim to create the terminal buffer and we call hide on it:

https://github.com/coc-extensions/coc-powershell/blob/ddbd0bd3c96a61131f08f9341d24f6daaec30765/src/client/process.ts#L144

I think that method could also unlist or maybe there can be an unlist API as well. @chemzqm do you have any thoughts here?

[2020-04-24 11:50] chemzqm commented on #97
No, it just hide the buffer.  Use autocmd in your vimrc if you want to unlist terminal buffer.

[2020-04-29 02:04] dseeni commented on #97
I ended up using an autocmd I posted above, unlist is fine. I don't mind that it's there, since it's required for powershell LSP to work.

It's more of a subjective UX thing, I like to switch buffers without running into this integrated terminal buffer.

I know there were several users who would like it to just be out of the way, commonly a user already has a terminal established. Unlist is fine.

[2020-04-29 06:09] chemzqm commented on #97
My suggestion is use a subprocess to start language server, and use prompt buffer (which is quite new on neovim) for interactive.

[2020-05-20 02:41] mikeTWC1984 opened #99 "Linting (Diagnostics) doesn't work"
### System Details

* _Vim or NeoVim?_: both
* _Version of Vim (run `vim --version`) or NeoVim_ (run `nvim --version`): Neovim 0.4.3
* _Version of `coc-powershell` : 0.1.1
* _Operating System_: linux
* _PowerShell version (in PowerShell: `$PSVersionTable`)_: 7

### Issue Description

I'm installing coc-extensions on the plain containers (various OS). Looks like there is some issue with linting for

[2020-05-22 00:05] TylerLeonhardt commented on #99
It looks like it's unable to find PSScriptAnalyzer... in the integrated console, can you run:

[code]

[2020-05-22 03:56] mikeTWC1984 commented on #99
You are right, the command return nothing, and after installing PSScriptAnalyzer I see linting again. Thanks! Is it a bug or feature though? I guess coc-powershell used to install this module automatically

[2020-05-22 04:20] TylerLeonhardt commented on #99
Hmm it should "just work" what's your `$env:PSModulePath` set to?

The last path should be a coc-powershell specific path and PSSA is supposed to be in that but I might have packaged it wrong.

[2020-05-22 04:28] mikeTWC1984 commented on #99
/root/.local/share/powershell/Modules:/usr/local/share/powershell/Modules:/opt/microsoft/powershell/7/Modules

[2020-05-22 04:58] mikeTWC1984 commented on #99
When I use the old fork I do see coc-powershell in PSModulePath indeed.

[2020-05-22 18:13] mikeTWC1984 opened #100 "feature: Restart terminal"
**Summary of the new feature**

Wondering if we can port  vscode's "Restart current session" to this extension. I did some research about a year ago, and the only way to do this was to kill terminal pid directly. But somehow it was messing up my colors (I had separate theme for terminal and files). Maybe this can be achieved via language server now

Another thing I was looking for is to get powers

[2020-05-22 18:49] TylerLeonhardt commented on #100
I like this idea. We may need to port over the entire session class:
https://github.com/PowerShell/vscode-powershell/blob/55ebbafeb8939cbea7ff9a8ea175c79181b1187b/src/session.ts

but coc has been really nice to us so far so it might be straightforward.

[2020-05-22 18:49] TylerLeonhardt commented on #100
In any case, here's restartSession:

https://github.com/PowerShell/vscode-powershell/blob/55ebbafeb8939cbea7ff9a8ea175c79181b1187b/src/session.ts#L243

[2020-05-22 18:56] TylerLeonhardt commented on #99
hmm and that's from within the PowerShell Integrated Console, yes?

[2020-05-22 18:58] TylerLeonhardt commented on #99
On macOS, I have the correct path:
[code]

[code]

[2020-05-23 02:02] mikeTWC1984 commented on #99
I just install everything again on the new linux machine, I do see coc-powershell/PowerShellEditorServices in the psmodulepath now, but linting is not working.  PSScriptAnalyzer is not in that folder. I do see it when I install my the old fork.

[2020-05-23 02:05] mikeTWC1984 commented on #99
This is what old extension has in this folder:
docs  Plaster  PowerShellEditorServices  PowerShellEditorServices.VSCode  PSScriptAnalyzer

The new one has only  PowerShellEditorServices

[2020-05-23 15:42] mikeTWC1984 commented on #99
OK, somehow 2.1.0 release does not contain those extra modules
https://github.com/PowerShell/PowerShellEditorServices/releases/tag/v2.1.0

[2020-05-23 15:58] TylerLeonhardt commented on #99
Great find! I'll get that fixed

[2020-05-29 00:13] TylerLeonhardt commented on #99
This should be fixed now :)

[2020-05-29 00:13] #99 closed

[2020-08-21 13:56] lc9er opened #106 "coc-powershell unresponsive"
### System Details

* _Vim or NeoVim?_: NeoVim
* _Version of Vim (run `vim --version`) or NeoVim_ (run `nvim --version`): 0.4.3
* _Version of `coc-powershell` (in Vim or NeoVim: `:CocList extensions coc-powershell`)_: 0.1.2
* _Operating System_: Windows 10 - 1909
* _PowerShell version (in PowerShell: `$PSVersionTable`)_: 7.0.3

### Issue Description

I am experiencing a problem with...

I run 'nvi

[2020-08-23 20:07] TylerLeonhardt commented on #106
@lc9er when you open the ps1 for the first time, what is the filetype?:

[code]

[2020-08-24 14:03] lc9er commented on #106
I think you're onto something. When I open a ps1 and run `:set filetype', it shows `filetype=powershell`.

When I set the filetype using CoC, `:set filetype` then shows `filetype=ps1`.

So I think that explains why this happening, but I'm unsure as to how to fix this (or how this has happened at all - I've done plugin updates, but haven't changed my config).

[2020-08-24 14:25] TylerLeonhardt commented on #106
We usually recommend vim polyglot because it sets the ft to ps1:
https://github.com/PProvost/vim-ps1/blob/master/ftdetect/ps1.vim

You may need to remove your packages 1 by 1 to figure it out. I'm curious which package is to blame.

[2020-08-24 16:39] lc9er commented on #106
When I remove polyglot, then open  ps1 file, run `:set filetype`, it just shows `filetype= `...

I tracked down how Coc.nvim discovers filetypes. In C:\Users\<uid>\AppData\Local\coc\extensions\node_modules\coc-lists\lib\filetypes.js, you see this line

[code]
So it looks like it just rifles through the plugins directory and pulls the name off the .vim files. I re-installed polyglot and tried copyi

[2020-08-24 16:44] TylerLeonhardt commented on #106
Oh interesting... this might be a matter of simply adding to our package.json:
https://github.com/coc-extensions/coc-powershell/blob/92d7fd652a2fb5379e4bc7f143cb9c918d6aa86c/package.json#L34-L36

adding an `onLanguage:powershell` and `onLanguage:pwsh` for good measure.

Do you think you could test that out for me?

[2020-08-24 17:51] corbob commented on #106
Is filetype guaranteed to be lower case? As another just in case, should we add `PowerShell` and `Powershell`?

[2020-08-24 18:47] lc9er commented on #106
This gets it closer to working! It activates the coc-powershell extension, so that the integrated terminal opens, completion, and PSScriptanalyzer integration are all working.

No syntax highlighting from polyglot, though. Note that I removed the powershell.vim copy of ps1.vim that I created in polyglot's syntax directory. `:set filetype` still shows `filetype=powershell`.

I'm not sure if at this

[2020-08-24 18:53] TylerLeonhardt commented on #106
Ok so we need to update our activationEvents for sure. That's easy. @corbob that's a good point on casing. I'm not sure.

Now polyglot problem... hmm I really don't know tbh. What you could do is...
1. uninstall coc-powershell or CoC entirely
2. keep polyglot installed

That would prove that whatever is setting filetype to powershell is _not_ coc-powershell.

[2020-08-24 19:34] lc9er commented on #106
Found it! I searched through the old vim-polyglot issues and found [this](https://github.com/sheerun/vim-polyglot/issues/177), which mentions PProvost/vim-ps1. I installed the plugin, opened a ps1 file and polyglot showed the filetype as `ps1`, instead of `powershell`.

I reinstalled Coc.nvim and now everything is working as expected.

[2020-08-24 21:35] TylerLeonhardt commented on #106
That was ages ago though... weird you saw it only now.

[2020-08-25 13:49] lc9er commented on #106
When I first discovered coc-powershell, I had that plugin installed. I believe it was listed in the README, but removed it a long time ago. As in many months ago. I use nvim + coc-powershell everyday, and update my plugins frequently, so yeah - I'm just as confused as to why it became an issue now.

But does this mean that vim-ps1 should be included as a requirement? I'd hate for someone else to i

[2020-08-28 22:28] TylerLeonhardt commented on #106
well we just need to do what I mentioned above to fix `coc-powershell`:

https://github.com/coc-extensions/coc-powershell/issues/106#issuecomment-679240690

btw, do you want to submit a PR for that since it worked for you?

[2020-08-29 15:21] lc9er commented on #106
Sure! I’ll give it a try later today. This will be my first attempt at
submitting a PR, so I’ll do my best.

On Fri, Aug 28, 2020 at 6:29 PM Tyler James Leonhardt <
notifications@github.com> wrote:

[2020-08-29 15:24] TylerLeonhardt commented on #106
Happy to help if you need it :) just let me know here.

[2020-08-31 02:52] TylerLeonhardt commented on #106
Closing this now that it's fixed :)

[2020-08-31 02:52] #106 closed

[2020-08-31 02:55] TylerLeonhardt commented on #66
This setting was added in #94. Closing this.

[2020-08-31 02:55] #66 closed

[2020-08-31 03:10] TylerLeonhardt commented on #36
Thanks to PSES 2.0, this works now :) `:call CocAction('format')`

[2020-08-31 03:10] #36 closed

[2020-08-31 03:11] TylerLeonhardt commented on #46
This is a relic of the past

[2020-08-31 03:11] #46 closed

[2020-09-10 15:03] lc9er opened #110 "Incorrect completion suggestions in Intergrated Terminal"
I stumbled across this almost right away, after the most recent update, but haven't had a chance to submit a report, until now.

### System Details

* _Vim or NeoVim?_:
NeoVim
* _Version of Vim (run `vim --version`) or NeoVim_ (run `nvim --version`):
0.4.4
* _Version of `coc-powershell` (in Vim or NeoVim: `:CocList extensions coc-powershell`)_:
0.1.3
* _Operating System_:
Win10 - 1909
* _PowerShel

[2020-09-11 02:12] corbob commented on #110
🤔 I don't currently have access to systems to remote into and test this with, could you try the same scenario in `pwsh` directly? As well, if you have vscode installed in the PowerShell Integrated Terminal there? This would tell us if the issue is with pwsh, or PowerShell Editor Services.

[2020-09-12 00:35] lc9er commented on #110
Great call on this. I wasn't having any problems with `pwsh`.  I installed the latest VSCode (I don't actually use it anymore) and the Powershell extension and was able to reproduce the bug, so I'll open an issue with the PS Editor Services project. Thanks for your help!

[2020-09-12 01:50] TylerLeonhardt commented on #110
Let's go ahead and close this here since we have an issue in PSES

[2020-09-12 01:50] #110 closed

[2020-12-08 20:28] bgmonroe commented on #97
You can close the REPL (only after closing the editor buffer unfortunately) by using the '**[Environment]::Exit(1)**' command.  But to be honest, it (the REPL buffer) should:

1. Be closable with 'exit', 'Exit', or ^d.  I think the current behavior is a side effect of how the pwsh process gets spun up by the extension.
2. Close when the editor buffer closes.
3. Be configurable to not open by defau

[2021-01-08 06:22] jmwatte opened #119 "can not install due to nodes problem"
### System Details

 NeoVim_:NVIM v0.4.4
* _Version of Vim (run `vim --version`) or NeoVim_ (run `nvim --version`):
* _Version of `coc-powershell` (in Vim or NeoVim: `:CocList extensions coc-powershell`)_: can not install
_Operating System_: windows 10
* _PowerShell version (in PowerShell: `$PSVersionTable`)_: 7.1.0

### Issue Description

can not install coc-powershell  with
let g:coc_global_exte

[2021-01-08 16:31] jmwatte commented on #119
Solved it by reinstalling nodes.

[2021-01-08 16:31] #119 closed

[2021-01-16 19:18] jmwatte opened #120 "^M at the end of lines when formatting with coc-nvim"
### System Details

* _Vim or NeoVim?_:NeoVim
* _Version of Vim (run `vim --version`) or NeoVim_ (run `nvim --version`):0.4.4
* _Version of `coc-powershell` (in Vim or NeoVim: `:CocList extensions coc-powershell`)_:0.1.14
* _Operating System_:windows 10
* _PowerShell version (in PowerShell: `$PSVersionTable`)_:7.1.1

### Issue Description

I am experiencing a problem with...
formatting ps1 files

[2021-03-15 22:53] dseeni opened #124 "Error on Notification Coc-Rename -> "rename": rename provider not found for current buffer"
### System Details

* _Vim or NeoVim?_: NeoVim 0.5
 NVIM v0.5.0-dev+1118-gdf4440024
* _Version of `coc-powershell` 0.1.4
* _Operating System_: Windows
* _PowerShell version (in PowerShell: `$PSVersionTable`)_: 7.1.3

### Issue Description

We used to be able to rename functions and variables in powershell right? It is no longer working, using coc-rename
Error:
Error on Notificatioon "rename": rena

[2021-03-15 23:05] TylerLeonhardt commented on #124
PowerShell's language server does not support renaming at this time... upstream: https://github.com/PowerShell/vscode-powershell/issues/261

[2021-03-16 02:12] dseeni commented on #124
Thanks for the clarification Tyler!
I somehow thought it used to work via the lsp, my mistake.

[2021-05-26 09:15] n3wjack opened #128 "Close shell window when last powershell script is closed"
I often close my PS script using :q, but then the shell remains, and I have to close gvim manually to get rid of it.
Even worse, if I'm using vim from the command line, I can't exit it (typical vim problem I know) because there seems to be no way to close the shell (exit doesn't work).

So it would be handy if in this case, the shell would automatically close.

Unless there's some way to close the

[2021-05-28 15:38] n3wjack commented on #128
That SO answer didn't work for me, but it did point me to the help where it states that CTRL-W can be used to enter command mode, so you're able to enter :quit! to quit the terminal session.
CTRL-W can also be used in combination with the movement keys jklm to jump out of the terminal window, as alt-tab doesn't work to jump between windows.

[2021-05-28 15:38] #128 closed

[2021-06-02 19:20] KasonBraley commented on #35
Any chance someone could provide some updates on the basic commands to use with this plugin? Just the basics like how to execute the code in the editor (tried F8 and F5, neither worked), and also how to focus/switch to the integrated terminal.

[2021-09-30 03:56] aguevara commented on #35
How do you get out of the integrated console and back to your script buffer?

[2021-09-30 14:16] aguevara commented on #35
Ignore previous, it was an nvim question; vim manages terminal switching differently. In Neovim see `:h terminal-input`, you must use <C-\><C-n>.

[2021-10-24 05:54] corbob opened #138 "Unable to install coc-powershell on Windows"
### System Details

* _Vim or NeoVim?_:NeoVim
* _Version of Vim (run `vim --version`) or NeoVim_ (run `nvim --version`):0.5.1
* _Version of `coc-powershell` (in Vim or NeoVim: `:CocList extensions coc-powershell`)_:N/A
* _Operating System_:Microsoft Windows [Version 10.0.19043.1288]
* _PowerShell version (in PowerShell: `$PSVersionTable`)_:7.1.5

### Issue Description

I am experiencing a problem

[2022-02-19 01:36] hungpham3112 opened #148 "How to turn off session buffer when open ps1 file ?"
![image](https://user-images.githubusercontent.com/75968004/154780847-b2c4d9ce-d4d8-446b-8d63-e5c8486e8ad2.png)

How to change CocConfig to remove this session by default? Because it auto-opens when I open ps1 file and no way to escape.

[2022-02-24 14:50] lc9er opened #149 "Integrated Console fails to load"
### System Details

* _Vim or NeoVim?_: Neovim
* _Version of Vim (run `vim --version`) or NeoVim_ (run `nvim --version`): 0.6.1
* _Version of `coc-powershell` (in Vim or NeoVim: `:CocList extensions coc-powershell`)_: 0.1.4
* _Operating System_: Windows
* _PowerShell version (in PowerShell: `$PSVersionTable`)_: 7.2.1

### Issue Description

When opening a ps1 file, the Powershell integrated consol

[2022-03-11 11:57] hungpham3112 commented on #148
Can someone answer my question, please?

[2022-03-11 16:51] corbob commented on #148
This looks like the integrated terminal. There's a setting to disable showing it listed on the readme (I can't get the direct link on mobile).

[2022-03-11 17:08] yatli commented on #148
Add this to your coc-settings.json file:
[code]

[2022-03-12 04:16] hungpham3112 commented on #148
I already have that but I don't know why intergratedConsole still appears. Seem like a bug with `lightline-bufferline`. Maybe?

![bandicam 2022-03-12 11-19-22-501](https://user-images.githubusercontent.com/75968004/158003466-e642b227-9eb0-4665-8a26-cfca7d2c6b72.gif)

[2022-03-16 22:50] MFreeze commented on #35
I'm late but you can run the current line in the powershell console with:

[code]

The selected lines with

[code]

You can execute the script with:

[code]

If you want to have F5 and f8 to execute code, you just have to map the key in your vimrc

[code]

List of commands can be found in `path_to_powershell_coc/out/client/extension.js` (when searching for `registerCommand`). You can also get them

[2022-04-27 21:52] techeddie opened #154 "How to get only output of code without leaving code section?"
How do I change the behaviour of coc-powershell to get only the output of

  :CocCommand powershell.execute
  :CocCommand powershell.evaluateLine

without leaving the code section (like in vscode) ?

Everytime I run the command the cursor stuck in the terminal.

[2022-04-27 22:33] #154 closed, assigned to nobody

[2022-06-01 14:52] adamency commented on #149
Got this issue too with Neovim on Windows 11.

However this is not an issue with the integrated console, it loads fine on my end. This is an issue with coc-powershell itself which doesn't run at all, as the process execution fails. The whole program is unusable (on Windows at least) until this is fixed.

[2022-08-19 18:33] lc9er opened #159 "Linting not working"
### System Details

* _Vim or NeoVim?_: Neovim
* _Version of Vim (run `vim --version`) or NeoVim_ (run `nvim --version`): 0.7.2
* _Version of `coc-powershell` (in Vim or NeoVim: `:CocList extensions coc-powershell`)_: 0.1.4
* _Operating System_: Windows 10
* _PowerShell version (in PowerShell: `$PSVersionTable`)_: 7.2.6

### Issue Description

I am experiencing a problem with...

Linting/PSScriptA

[2022-08-30 23:52] csc027 commented on #159
What version of `coc.nvim` are you running?

I've been running into a similar issue where none of the linting UI elements are working.  I ran `:CocInfo`, and it showed that a bunch of functions that `coc-powershell` uses from `coc.nvim` to display UI elements were deprecated (e.g., `workspace.createStatusBarItem`, `workspace.createOutputChannel`, and `workspace.createTerminal`).

Looking back at t

[2022-08-31 13:58] lc9er commented on #159
This does work thanks. I'll note that I've started using native lsp (with lunarvim for easy testing/setup). Both Powershell and C# dev experiences are better supported than what's currently available here. I may end up making the switch permanently, since those coc plugins seem abandoned, and I don't have the skill or time to contribute to them in a meaningful way.